.formulario {
  grid-column: span 6;
  background-color: white;
  padding: var(--espaco-3);
  border-radius: 8px;
}

input, textarea {
  width: 100%;
  margin-bottom: var(--espaco-2);
  padding: var(--espaco-2);
  border: 1px solid var(--cor-neutra-media);
  border-radius: 4px;
}

input:focus, textarea:focus {
  border-color: var(--cor-primaria);
  outline: none;
}
